<!DOCTYPE html>
<html>
  <head>
  <style type = "text/css">
      h1 {color: blue; text-align: center}
      h6 {text-align: right; color: red}
      p {font-family: "Times New Roman"; font-size: 30px;}
      body {background-color: orange}
      table {font-family: Arial}

    </style>
  </head>

  <body>

  </body>

</html>
